#page-dashboard.page-content-body
  .page-content-body-section
    %h1 To Ship
    .stats
      .stat-container
        .stat
          .stat-label Orders Left to Ship
          .stat-number.red
            #{pluralize(get_unshipped_orders_count, 'order')}
      .stat-container
        .stat
          .stat-label Total Items To Ship
          .stat-number.red
            #{pluralize(get_unshipped_items_count, 'item')}
    .stats
      - get_product_types.each do |product_type|
        -if product_type.get_unshipped_items_count > 0
          .stat-container
            .stat
              .stat-label 
                =product_type.product_type
              .stat-number
                #{pluralize(product_type.get_unshipped_items_count, product_type.product_type)}

  .page-content-body-section
    %h1 Orders
    .stats
      .stat-container
        .stat
          .stat-label Total Customers
          .stat-number
            #{pluralize(get_customers_count, 'customer')}
      .stat-container
        .stat
          .stat-label Total Orders
          .stat-number
            #{pluralize(get_orders_count, 'order')}
      .stat-container
        .stat
          .stat-label Total Order Items
          .stat-number
            #{pluralize(get_items_sold_count, 'item')}
    .stats
      .stat-container
        .stat
          .stat-label Average Orders Per Customer
          .stat-number
            = get_average_orders_per_customer.to_s + "/customer"
      .stat-container
        .stat
          .stat-label Average Order Items Per Customer
          .stat-number
            = get_average_order_items_per_customer.to_s + "/customer"
      .stat-container
        .stat
          .stat-label Average Items Per Order
          .stat-number= get_average_items_per_order.to_s + "/order"
      


  .page-content-body-section
    %h1 Profit
    .stats
      .stat-container
        .stat
          .stat-label Profit
          -if get_profit < 0
            .stat-number.red
              = "-$" + get_profit.abs.to_s
          -else
            .stat-number.green
              = "$" + get_profit.to_s
      .stat-container
        .stat
          .stat-label Total Revenue
          .stat-number
            = "$" + get_revenue.to_s
      .stat-container
        .stat
          .stat-label Total Expenses
          .stat-number
            = "$" + get_expenses_number.to_s
    -if get_profit < 0
      .stats
        - get_product_types.each do |product_type|
          .stat-container
            .stat
              .stat-label= product_type
              .stat-number
                #{pluralize(get_number_of_items_to_sell_by_type(product_type), product_type)}

  .page-content-body-section
    %h1 Revenue
    .stats
      .stat-container
        .stat
          .stat-label Total Revenue
          .stat-number
            = "$" + get_revenue.to_s
      .stat-container
        .stat
          .stat-label Average Rev Per Order
          .stat-number
            = "$" + get_average_revenue_per_order.to_s + "/order"
      .stat-container
        .stat
          .stat-label Average Rev Per Order Item
          .stat-number
            = "$" + get_average_revenue_per_order_item.to_s + "/item"
      .stat-container
        .stat
          .stat-label Average Rev Per Customer
          .stat-number
            = "$" + get_average_revenue_per_customer.to_s + "/customer"


  .page-content-body-section
    %h1 Costs
    = render partial: 'partials/expenses_stats'

  .page-content-body-section.page-content-body-section-products
    %h1 Products
    = render partial: 'partials/product_stats'

