- today = get_last_sale_date

#page-dashboard.page-content-body
  .page-content-body-section
    %h1 
      Revenue
      %span.subtitle Am I on track to meet my revenue goals?

    - # REVENUE: TABS #################################
    .tabbed-charts
      .tabbed-charts-tabs-revenue.tabbed-charts-tabs.stats.stats-3.stats-tabbed{role: "tablist"}
        %a.stat-container{"href" => "#chart-cumulative-revenue-by-month-of-year-container", "aria-controls" => "chart-cumulative-revenue-by-month-of-year-container", "role" => "tab", "data-toggle" => "tab"}
          .stat
            .stat-label= today.strftime "%B %Y" + " Revenue"
            .stat-number= format_money(get_revenue_by_month(today))
            .stat-stats
              .stat-stats-row
                %span.stat-stats-row-number= format_money(get_revenue_goal_by_month(today))
                %span.stat-stats-row-label= today.strftime "%B" + " goal"
              .stat-stats-row
                %span.stat-stats-row-number= format_money(get_adjusted_year_revenue_goal)
                %span.stat-stats-row-label= today.strftime "%Y" + " left"

        %a.stat-container.active{"href" => "#chart-cumulative-revenue-by-day-of-month-container", "aria-controls" => "chart-cumulative-revenue-by-day-of-month-container", "role" => "tab", "data-toggle" => "tab"} 
          .stat
            .stat-label= today.strftime "%B %Y" + " Goal Reached As Of Today"
            .stat-number
              - pct_diff = get_percentage_achieved_for_month(today) - get_percentage_goal_by_day_of_month(today)
              %span{class: pct_diff < 0 ? "red" : "green"}
                = format_percentage(get_percentage_achieved_for_month(today))
            .stat-stats
              .stat-stats-row
                %span.stat-stats-row-number=format_percentage(get_percentage_goal_by_day_of_month(today))
                %span.stat-stats-row-label today's target
              .stat-stats-row
                %span.stat-stats-row-number
                %span.stat-stats-row-label
        
        %a.stat-container{"href" => "#chart-daily-revenue-container", "aria-controls" => "chart-daily-revenue-container", "role" => "tab", "data-toggle" => "tab"}
          .stat
            .stat-label= "Daily Average Revenue in " + (today.strftime "%B %Y")
            .stat-number
              %span{class: get_daily_percentage_achieved_for_month(today) < 100 ? "red" : "green"}
                = format_money(get_average_daily_revenue_by_month(today))
            .stat-stats
              .stat-stats-row
                %span.stat-stats-row-number=format_percentage(get_daily_percentage_achieved_for_month(today))
                %span.stat-stats-row-label of goal
              .stat-stats-row
                %span.stat-stats-row-number= format_money(get_daily_revenue_goal_by_month(today))
                %span.stat-stats-row-label= today.strftime "%B" + " daily goal"

      - # REVENUE: CHARTS #################################
      .tabbed-charts-content.tab-content
        #chart-cumulative-revenue-by-month-of-year-container.tab-pane{"role" => "tabpanel"}
          #chart-cumulative-revenue-by-month-of-year.chart

        #chart-cumulative-revenue-by-day-of-month-container.tab-pane.active{"role" => "tabpanel"}
          #chart-cumulative-revenue-by-day-of-month.chart

        #chart-daily-revenue-container.tab-pane{"role" => "tabpanel"}
          #chart-daily-revenue.chart 

    - # REVENUE: TABLE #################################
    %table#table-revenue-by-month.stripe.order-column
      %thead
        %tr
          %th{rowspan: 2} Month
          %th{colspan: 3} Revenue
          %th{colspan: 3} Month's Daily Revenue
          %th{colspan: 2} Year's Daily Revenue
        %tr
          %th Revenue
          %th Goal
          %th Achieved
          %th Daily Avg Rev
          %th Daily Goal
          %th Achieved
          %th Daily Goal
          %th Achieved
      %tbody
        - get_months.each do |month|
          %tr{class: month.month == 12 ? "border-bottom" : ""}
            %td.border-right
              %strong= month.strftime "%Y - %m - %b"
            %td= format_money(get_revenue_by_month(month))
            %td= format_money(get_revenue_goal_by_month(month))
            %td.border-right
              - pct = get_percentage_achieved_for_month(month)
              %span{class: pct > 100 ? 'green' : 'red'}= format_percentage(pct)
            %td.border-right= format_money(get_average_daily_revenue_by_month(month))
            %td= format_money(get_daily_revenue_goal_by_month(month))
            %td.border-right
              - pct = get_daily_percentage_achieved_for_month(month)
              %span{class: pct > 100 ? 'green' : 'red'}= format_percentage(pct)
            %td= format_money(get_daily_revenue_goal_by_year(month.year))
            %td
              - pct = get_daily_percentage_achieved_for_year_by_month(month)
              %span{class: pct > 100 ? 'green' : 'red'}= format_percentage(pct)
      %thead
        %tr.border-top
          %th Month
          %th Revenue
          %th Adjusted
          %th Achieved
          %th Daily Avg Rev
          %th Month's Daily Goal
          %th Achieved
          %th Year's Daily Goal
          %th Achieved
      %tbody
        - adjusted_monthly_revenue_goal = get_adjusted_monthly_revenue_goal
        - adjusted_daily_revenue_goal = get_adjusted_daily_revenue_goal
        - get_months_left_in_year.each do |month|
          %tr
            %td.border-right
              %strong= month.strftime "%Y - %m - %b"
            %td= "-"
            %td= format_money(adjusted_monthly_revenue_goal)
            %td.border-right= "-"
            %td.border-right= "-"
            %td= "-"
            %td.border-right= "-"
            %td= format_money(get_adjusted_daily_revenue_goal)
            %td= "-"
      %tfoot
        - get_years.each do |year|
          %tr
            %th.border-right 
              %strong Total - #{year}
            %th= format_money(get_revenue_by_year(year)) 
            %th= format_money(get_revenue_goal_by_year(year))
            %th.border-right
              - pct = get_percentage_achieved_by_year(year)
              %span{class: pct > 100 ? 'green' : 'red'}= format_percentage(pct)
            %th.border-right= format_money(get_average_daily_revenue_by_year(year))
            %th
            %th.border-right
            %th= format_money(get_daily_revenue_goal_by_year(year))
            %th
              - pct = get_daily_percentage_achieved_for_year(year)
              %span{class: pct > 100 ? 'green' : 'red'}= format_percentage(pct)
        %tr.border-top-thick
          %th.border-right 
            %strong Total All Time
          %th= format_money(get_revenue) 
          %th
          %th.border-right
          %th.border-right= format_money(get_average_daily_revenue)
          %th
          %th.border-right
          %th
          %th

  .page-content-body-section
    %h1
      Profit
      %span.subtitle What is my cashflow?

    - # PROFIT: TABS #################################
    .tabbed-charts
      .tabbed-charts-tabs-profit.tabbed-charts-tabs.stats.stats-2.stats-tabbed{role: "tablist"}
        %a.stat-container{"href" => "#chart-profit-by-year-container", "aria-controls" => "#chart-profit-by-year-container", "role" => "tab", "data-toggle" => "tab"}
          .stat
            .stat-label Money In Bank
            .stat-number= format_money(get_total_funds)
            .stat-stats
              .stat-stats-row
                %span.stat-stats-row-number{class: get_profit < 0 ? "red" : ""}
                  = format_money(get_profit)
                %span.stat-stats-row-label Total Profit
              .stat-stats-row
                %span.stat-stats-row-number= format_money(get_funds)
                %span.stat-stats-row-label Miscellaneous Funds

        %a.stat-container.active{"href" => "#chart-profit-by-month-container", "aria-controls" => "#chart-profit-by-month-container", "role" => "tab", "data-toggle" => "tab"} 
          .stat
            .stat-label= today.strftime "%B %Y" + " Profit"
            .stat-number
              %span{class: get_profit_by_month(today) < 0 ? "red" : "green"}
                = format_money(get_profit_by_month(today))
            .stat-stats
              .stat-stats-row
                %span.stat-stats-row-number= format_money(get_expenses_by_month(nil, today)) 
                %span.stat-stats-row-label expenses
              .stat-stats-row
                %span.stat-stats-row-number
                  = format_percentage(get_profit_percentage_of_revenue_by_month( today))
                  of
                  = format_money(get_revenue_by_month(today))
                %span.stat-stats-row-label revenue

      - # REVENUE: CHARTS #################################
      .tabbed-charts-content.tab-content
        #chart-profit-by-year-container.tab-pane{"role" => "tabpanel"}
          #chart-profit-by-year.chart

        #chart-profit-by-month-container.tab-pane.active{"role" => "tabpanel"}
          #chart-profit-by-month.chart

    - # REVENUE: TABLE #################################
    %table#table-profit-by-month.stripe.order-column
      %thead
        %tr
          %th{rowspan: 2} Month
          %th{colspan: 3} This Month
          %th{colspan: 3} Average Daily This Month
          %th{colspan: 3} Last 3 Months Average Daily
        %tr
          %th Profit
          %th Revenue
          %th Expenses
          %th Profit
          %th Revenue
          %th Expenses
          %th Profit
          %th Revenue
          %th Expenses
      %tbody
        - get_months.each do |month|
          %tr{class: month.month == 12 ? "border-bottom" : ""}
            %td.border-right
              %strong= month.strftime "%Y - %m - %b"
            %td{class: get_profit_by_month(month) < 0 ? "red" : "green"}
              =format_money(get_profit_by_month(month))
            %td= format_money(get_revenue_by_month(month))
            %td.border-right= format_money(get_expenses_by_month(nil, month))
            %td{class: get_average_daily_profit_by_month(month) < 0 ? "red" : "green"}
              =format_money(get_average_daily_profit_by_month(month))
            %td=format_money(get_average_daily_revenue_by_month(nil, month))
            %td.border-right= format_money(get_average_daily_expenses_by_month(month))
            %td
            %td
            %td
      %tfoot
        %tr.border-top-thick
          %th.border-right.border-bottom-thick{rowspan: 2} Month
          %th.border-right{colspan: 3} Yearly Totals
          %th.border-right{colspan: 3} Monthly Average
          %th{colspan: 3} Daily Average
        %tr.border-bottom-thick
          %th Profit
          %th Revenue
          %th.border-right Expenses
          %th Profit
          %th Revenue
          %th.border-right Expenses
          %th Profit
          %th Revenue
          %th Expenses
        - get_years.each do |year|
          %tr
            %th.border-right
              %strong= year
            %th{class: get_profit_by_year(year) < 0 ? "red" : "green"}
              = format_money(get_profit_by_year(year))
            %th= format_money(get_revenue_by_year(year))
            %th.border-right= format_money(get_expenses_by_year(nil, year))
            %th{class: get_average_monthly_profit_by_year(year) < 0 ? "red" : "green"}
              =format_money(get_average_monthly_profit_by_year(year))
            %th=format_money(get_average_monthly_revenue_by_year(year))
            %th.border-right=format_money(get_average_monthly_expenses_by_year(year))
            %th{class: get_average_daily_profit_by_year(year) < 0 ? "red" : "green"}
              =format_money(get_average_daily_profit_by_year(year))
            %th=format_money(get_average_daily_revenue_by_year(year))
            %th=format_money(get_average_daily_expenses_by_year(year))
        %tr.border-top-thick.border-bottom-thick
          %th.border-right Total All Time
          %th{class: get_profit < 0 ? "red" : "green"}
            =format_money(get_profit)
          %th=format_money(get_revenue)
          %th.border-right=format_money(get_expenses)
          %th{class: get_average_monthly_profit < 0 ? "red" : "green"}
            =format_money(get_average_monthly_profit)
          %th=format_money(get_average_monthly_revenue)
          %th.border-right=format_money(get_average_monthly_expenses)
          %th{class: get_average_daily_profit < 0 ? "red" : "green"}
            =format_money(get_average_daily_profit)
          %th=format_money(get_average_daily_revenue)
          %th=format_money(get_average_daily_expenses)
  
  .page-content-body-section
    %h1
      Margin
      %span.subtitle Is the business healthy?

    - # MARGIN: TABS #################################
    .tabbed-charts
      .tabbed-charts-tabs-margin.tabbed-charts-tabs.stats.stats-2.stats-tabbed{role: "tablist"}
        %a.stat-container.active{"href" => "#chart-margin-in-dollars-container", "aria-controls" => "chart-margin-in-dollars-container", "role" => "tab", "data-toggle" => "tab"}
          .stat
            .stat-label Total Margin
            .stat-number=format_money(get_margin)
            .stat-stats
              .stat-stats-row
                %span.stat-stats-row-number=format_money(get_margin("Retail")) 
                %span.stat-stats-row-label 
                  Retail
                  = "(" + format_percentage(get_percentage_of_margin_that_is_order_type("Retail", nil, nil)) + ")"
              .stat-stats-row
                %span.stat-stats-row-number=format_money(get_margin("Wholesale")) 
                %span.stat-stats-row-label 
                  Wholesale
                  = "(" + format_percentage(get_percentage_of_margin_that_is_order_type("Wholesale", nil, nil)) + ")"

        %a.stat-container{"href" => "#chart-margin-in-percentage-container", "aria-controls" => "chart-margin-in-percentage-container", "role" => "tab", "data-toggle" => "tab"} 
          .stat
            .stat-label Total Margin
            .stat-number=format_percentage(get_margin_percentage)
            .stat-stats
              .stat-stats-row
                %span.stat-stats-row-number=format_percentage(get_margin_percentage("Retail", nil, nil))
                %span.stat-stats-row-label Retail
              .stat-stats-row
                %span.stat-stats-row-number=format_percentage(get_margin_percentage("Wholesale", nil, nil))
                %span.stat-stats-row-label Wholesale

      - # MARGIN: CHARTS #################################
      .tabbed-charts-content.tab-content
        #chart-margin-in-dollars-container.tab-pane.active{"role" => "tabpanel"}
          #chart-margin-in-dollars.chart

        #chart-margin-in-percentage-container.tab-pane{"role" => "tabpanel"}
          #chart-margin-in-percentage.chart

    - # MARGIN: TABLE #################################
    %table#table-margin-by-month.stripe.order-column
      %thead
        %tr
          %th{rowspan: 2} Month
          %th{colspan: 4} Total Margin
          %th{colspan: 5} Retail Margin
          %th{colspan: 5} Wholesale Margin
        %tr
          %th ($)
          %th (%)
          %th Per Item
          %th Items

          %th Of Total
          %th ($)
          %th (%)
          %th Per Item
          %th Items

          %th Of Total
          %th ($)
          %th (%)
          %th Per Item
          %th Items
      %tbody
        - get_months.each do |month|
          %tr{class: month.month == 12 ? "border-bottom" : ""}
            %td.border-right
              %strong= month.strftime "%Y - %m - %b"

            %td=format_money(get_margin_by_month(nil, month))
            %td=format_percentage(get_margin_percentage_by_month(nil, month))
            %td=format_money(get_average_margin_per_item_by_month(nil, month))
            %td.border-right=get_items_sold_count_by_month(nil, month)

            %td.border-right= format_percentage(get_percentage_of_margin_that_is_order_type_by_month("Retail", month))
            %td=format_money(get_margin_by_month("Retail", month))
            %td=format_percentage(get_margin_percentage_by_month("Retail", month))
            %td=format_money(get_average_margin_per_item_by_month("Retail", month))
            %td.border-right=get_items_sold_count_by_month("Retail", month)

            %td.border-right= format_percentage(get_percentage_of_margin_that_is_order_type_by_month("Wholesale", month))
            %td=format_money(get_margin_by_month("Wholesale", month))
            %td=format_percentage(get_margin_percentage_by_month("Wholesale", month))
            %td=format_money(get_average_margin_per_item_by_month("Wholesale", month))
            %td=get_items_sold_count_by_month("Wholesale", month)
      %tfoot
        %tr.border-top-thick
          %th.border-right.border-bottom-thick{rowspan: 2} Month
          %th{colspan: 4} Total Margin
          %th.border-left{colspan: 5} Retail Margin
          %th.border-left{colspan: 5} Wholesale Margin
        %tr.border-bottom-thick
          %th ($)
          %th (%)
          %th Per Item
          %th.border-right Items

          %th Of Total
          %th ($)
          %th (%)
          %th Per Item
          %th.border-right Items

          %th Of Total
          %th ($)
          %th (%)
          %th Per Item
          %th Items
        - get_years.each do |year|
          %tr
            %th.border-right
              %strong
                Total -
                = year

            %th.green=format_money(get_margin_by_year(nil, year))
            %th=format_percentage(get_margin_percentage_by_year(nil, year))
            %th=format_money(get_average_margin_per_item_by_year(nil, year))
            %th.border-right=get_items_sold_count_by_year(nil, year)

            %th.border-right= format_percentage(get_percentage_of_margin_that_is_order_type_by_year("Retail", year))
            %th.green=format_money(get_margin_by_year("Retail", year))
            %th=format_percentage(get_margin_percentage_by_year("Retail", year))
            %th=format_money(get_average_margin_per_item_by_year("Retail", year))
            %th.border-right=get_items_sold_count_by_year("Retail", year)

            %th.border-right= format_percentage(get_percentage_of_margin_that_is_order_type_by_year("Wholesale", year))
            %th.green=format_money(get_margin_by_year("Wholesale", year))
            %th=format_percentage(get_margin_percentage_by_year("Wholesale", year))
            %th=format_money(get_average_margin_per_item_by_year("Wholesale", year))
            %th=get_items_sold_count_by_year("Wholesale", year)

          

:javascript

    // ALL CHART TABS //////////////////////////////////////
    $('.tabbed-charts-tabs-revenue a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $('.tabbed-charts-tabs-revenue a').removeClass('active');
      $(this).addClass('active');
      jQuery(".chart").each(function() {
        var chart = jQuery(this).highcharts(); // target the chart itself
        chart.reflow(); // reflow that chart
      });
    });

    $('.tabbed-charts-tabs-profit a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $('.tabbed-charts-tabs-profit a').removeClass('active');
      $(this).addClass('active');
      jQuery(".chart").each(function() {
        var chart = jQuery(this).highcharts(); // target the chart itself
        chart.reflow(); // reflow that chart
      });
    });

    $('.tabbed-charts-tabs-margin a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $('.tabbed-charts-tabs-margin a').removeClass('active');
      $(this).addClass('active');
      jQuery(".chart").each(function() {
        var chart = jQuery(this).highcharts(); // target the chart itself
        chart.reflow(); // reflow that chart
      });
    });

    
    // REVENUE CHARTS //////////////////////////////////////
    $(function () { 
      // #chart-cumulative-revenue-by-month-of-year
      $('#chart-cumulative-revenue-by-month-of-year').highcharts({
        chart: {
          spacing: [40, 30, 40, 30],
          type: 'line',
          background: '#ffffff',
          style: {
            fontFamily: 'Source Sans Pro'
          }
        },
        title: {
          text: 'Am I on track to meet my revenue goal for the year?'
        },
        legend: {
          itemStyle: {
            'fontSize': '13px', 
            'fontWeight': 'normal',
            'color': '#555555'
          },
          margin: 20,
          verticalAlign: 'top',
          layout: 'vertical',
          align: 'left',
          itemMarginBottom: 8
        },
        xAxis: {
          categories: #{get_month_names_array},
          title: {
            text: 'Month'
          },
          labels: {
            style: {
              fontSize: '13px'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Revenue ($)'
          },
          opposite: true,
          labels: {
            style: {
              fontSize: '13px'
            },
            format: "${value}"
          },
          tickInterval: '5000'
        },
        tooltip: {
          formatter: function () {
            return this.x + ' ' + this.series.name + ': <b>$' + this.y + '</b>';
            },
          style: {
            'padding': '20px 20px 15px 20px',
            'fontSize': '15px'
          }
        },
        series: #{get_cumulative_revenue_by_month_of_year_series}
      });

      // #chart-cumulative-revenue-by-day-of-month
      $('#chart-cumulative-revenue-by-day-of-month').highcharts({
        chart: {
          spacing: [40, 30, 40, 30],
          type: 'line',
          background: '#ffffff',
          style: {
            fontFamily: 'Source Sans Pro'
          }
        },
        title: {
          text: 'Am I on track to meet my revenue goal for the month?'
        },
        legend: {
          itemStyle: {
            'fontSize': '13px', 
            'fontWeight': 'normal',
            'color': '#555555'
          },
          margin: 20,
          verticalAlign: 'top',
          layout: 'vertical',
          align: 'left',
          itemMarginBottom: 8
        },
        xAxis: {
          categories: #{get_days_of_month_array},
          title: {
            text: 'Day Of Month'
          },
          labels: {
            style: {
              fontSize: '13px'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Revenue ($)'
          },
          opposite: true,
          labels: {
            style: {
              fontSize: '13px'
            },
            format: "${value}"
          },
          tickInterval: '2000'
        },
        tooltip: {
          
          headerFormat: '<span style="font-size: 15px; font-weight: bold;">Day {point.key}</span><br/>',
          style: {
            'padding': '20px 20px 15px 20px',
            'fontSize': '15px'
          }
        },
        series: #{get_cumulative_revenue_by_day_of_month_series_summary}
      });

      // #chart-daily-revenue
      $('#chart-daily-revenue').highcharts({
        chart: {
          spacing: [40, 30, 40, 30],
          type: 'line',
          background: '#ffffff',
          reflow: true,
          style: {
            fontFamily: 'Source Sans Pro'
          }
        },
        title: {
          text: 'Am I on track to meet my revenue goal today?'
        },
        legend: {
          itemStyle: {
            'fontSize': '13px', 
            'fontWeight': 'normal',
            'color': '#555555'
          },
          margin: 20,
          verticalAlign: 'top',
          layout: 'vertical',
          align: 'left',
          itemMarginBottom: 8
        },
        xAxis: {
          categories: #{get_last_x_dates_as_strings_array},
          title: {
            text: 'Last 60 Days',
            offset: 50
          },
          labels: {
            autoRotation: [-10, -20, -30, -40, -50, -60, -70, -80, -90],
            rotation: -90,
            style: {
              fontSize: '13px'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Revenue ($)'
          },
          opposite: true,
          labels: {
            style: {
              fontSize: '13px'
            },
            format: "${value}"
          },
          tickInterval: '200'
        },
        tooltip: {
          formatter: function () {
            revenue = this.y + Math.round(#{get_daily_revenue_goal_by_month(Date.today)})
            return '<b>' + this.x + ':</b><br> Delta: <b>$' + this.y + '</b><br>Revenue: <b>$' + revenue + '</b>';
            },
          style: {
            'padding': '20px 20px 15px 20px',
            'fontSize': '15px'
          }
        },
        series: #{get_daily_revenue_vs_target_chart_series}
      });
    });

    // PROFIT CHARTS //////////////////////////////////////
    $(function () { 
      // #chart-profit-by-year
      $('#chart-profit-by-year').highcharts({
        chart: {
          spacing: [40, 30, 40, 30],
          type: 'line',
          background: '#ffffff',
          style: {
            fontFamily: 'Source Sans Pro'
          }
        },
        title: {
          text: ''
        },
        legend: {
          itemStyle: {
            'fontSize': '15px', 
            'fontWeight': 'normal',
            'color': '#555555'
          },
          margin: 20,
          verticalAlign: 'top'
        },
        xAxis: {
          categories: #{get_years},
          labels: {
            style: {
              fontSize: '14px'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Amount ($)'
          },
          opposite: true,
          labels: {
            style: {
              fontSize: '13px'
            },
            format: "${value}"
          },
          tickInterval: '500'
        },
        tooltip: {
          shared: true,
          headerFormat: '<span style="font-size: 15px; font-weight: bold;">{point.key}</span><br/>',
          style: {
            'padding': '20px 20px 15px 20px',
            'fontSize': '15px'
          }
        },
        series: [
          {
            type: 'column',
            name: 'Profit',
            data: #{get_profit_array_by_years},
            color: 'black',
            negativeColor: 'red',
            marker: {
              enabled: false
            },
            fillOpacity: '0.25'
          },
          {
            name: 'Cost',
            data: #{get_cost_array_by_years},
            color: '#FF4343',
            marker: {
              enabled: false
            }
          },
          {
            name: 'Revenue',
            data: #{get_revenue_array_by_years},
            color: '#70DE64',
            marker: {
              enabled: false
            }
          }
        ]
      });
      // #chart-profit-by-month
      $('#chart-profit-by-month').highcharts({
        chart: {
          spacing: [40, 30, 40, 30],
          type: 'line',
          background: '#ffffff',
          style: {
            fontFamily: 'Source Sans Pro'
          }
        },
        title: {
          text: ''
        },
        legend: {
          itemStyle: {
            'fontSize': '15px', 
            'fontWeight': 'normal',
            'color': '#555555'
          },
          margin: 20,
          verticalAlign: 'top'
        },
        xAxis: {
          categories: #{get_months_array},
          labels: {
            style: {
              fontSize: '14px'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Amount ($)'
          },
          opposite: true,
          labels: {
            style: {
              fontSize: '13px'
            },
            format: "${value}"
          },
          tickInterval: '500'
        },
        tooltip: {
          shared: true,
          headerFormat: '<span style="font-size: 15px; font-weight: bold;">{point.key}</span><br/>',
          style: {
            'padding': '20px 20px 15px 20px',
            'fontSize': '15px'
          }
        },
        series: [
          {
            type: 'column',
            name: 'Profit',
            data: #{get_profit_array_by_months},
            color: 'black',
            negativeColor: 'red',
            marker: {
              enabled: false
            },
            fillOpacity: '0.25'
          },
          {
            name: 'Cost',
            data: #{get_cost_array_by_months},
            color: '#FF4343',
            marker: {
              enabled: false
            }
          },
          {
            name: 'Revenue',
            data: #{get_revenue_array_by_months},
            color: '#70DE64',
            marker: {
              enabled: false
            }
          }
        ]
      });
    });

    // MARGIN CHARTS //////////////////////////////////////
    $(function () { 
      // #chart-margin-in-dollars
      $('#chart-margin-in-dollars').highcharts({
        chart: {
          spacing: [40, 30, 40, 30],
          type: 'line',
          background: '#ffffff',
          style: {
            fontFamily: 'Source Sans Pro'
          }
        },
        title: {
          text: ''
        },
        legend: {
          itemStyle: {
            'fontSize': '15px', 
            'fontWeight': 'normal',
            'color': '#555555'
          },
          margin: 20,
          verticalAlign: 'top'
        },
        xAxis: {
          categories: #{get_months_array},
          labels: {
            style: {
              fontSize: '14px'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Total Margin ($)'
          },
          opposite: true,
          labels: {
            style: {
              fontSize: '13px'
            },
            format: "${value}"
          },
          tickInterval: '1000'
        },
        tooltip: {
          shared: true,
          headerFormat: '<span style="font-size: 15px; font-weight: bold;">{point.key}</span><br/>',
          style: {
            'padding': '20px 20px 15px 20px',
            'fontSize': '15px'
          }
        },
        series: [
          {
            name: 'Retail',
            data: #{get_margin_array_by_months("Retail")},
            color: '#FFA67C',
            marker: {
              enabled: false
            }
          },
          {
            name: 'Wholesale',
            data: #{get_margin_array_by_months("Wholesale")},
            marker: {
              enabled: false
            }
          },
          {
            type: 'area',
            name: 'All',
            color: '#F0A4C0',
            data: #{get_margin_array_by_months},
            marker: {
              enabled: false
            },
            fillOpacity: '0.25'
          }
        ]
      });

      // #chart-margin-in-percentage
      $('#chart-margin-in-percentage').highcharts({
        chart: {
          spacing: [40, 30, 40, 30],
          type: 'line',
          background: '#ffffff',
          style: {
            fontFamily: 'Source Sans Pro'
          }
        },
        title: {
          text: ''
        },
        legend: {
          itemStyle: {
            'fontSize': '15px', 
            'fontWeight': 'normal',
            'color': '#555555'
          },
          margin: 20,
          verticalAlign: 'top'
        },
        xAxis: {
          categories: #{get_months_array},
          labels: {
            style: {
              fontSize: '14px'
            }
          }
        },
        yAxis: {
          title: {
            text: 'Margin (%)'
          },
          opposite: true,
          labels: {
            style: {
              fontSize: '13px'
            },
            format: "{value}%"
          },
          tickInterval: '10'
        },
        tooltip: {
          shared: true,
          headerFormat: '<span style="font-size: 15px; font-weight: bold;">{point.key}</span><br/>',
          style: {
            'padding': '20px 20px 15px 20px',
            'fontSize': '15px'
          }
        },
        series: [
          {
            name: 'Retail',
            data: #{get_margin_percentage_array_by_month("Retail")},
            color: '#FFA67C',
            marker: {
              enabled: false
            }
          },
          {
            name: 'Wholesale',
            data: #{get_margin_percentage_array_by_month("Wholesale")},
            marker: {
              enabled: false
            }
          },
          {
            type: 'area',
            name: 'All',
            data: #{get_margin_percentage_array_by_month},
            color: '#F0A4C0',
            marker: {
              enabled: false
            },
            fillOpacity: '0.25'
          }
        ]
      });
    });


    // REVENUE TABLE //////////////////////////////////////
    $("#table-revenue-by-month").DataTable({
      dom: 'iCfrtS',
      pageLength: -1,
      order: [0, 'asc'],
      orderClasses: true
    });

    // PROFIT TABLE //////////////////////////////////////
    $("#table-profit-by-month").DataTable({
      dom: 'iCfrtS',
      pageLength: -1,
      order: [0, 'asc'],
      orderClasses: true
    });

    // MARGIN TABLE //////////////////////////////////////
    $("#table-margin-by-month").DataTable({
      dom: 'iCfrtS',
      pageLength: -1,
      order: [0, 'asc'],
      orderClasses: true
    });


