#sidebar
  %ul.nav.nav-pills.nav-stacked



    - if (params[:controller] == 'orders')
      %li.active
        = link_to orders_path do
          %span.glyphicon.glyphicon-shopping-cart
          Orders
    - else
      %li
        = link_to orders_path do
          %span.glyphicon.glyphicon-shopping-cart
          Orders



    - if (params[:controller] == 'order_items')
      %li.active
        = link_to order_items_path do
          %span.glyphicon.glyphicon-th-list
          Order Items
    - else
      %li
        = link_to order_items_path do
          %span.glyphicon.glyphicon-th-list
          Order Items


    - if (params[:controller] == 'products')
      %li.active
        = link_to products_path do
          %span.glyphicon.glyphicon-th-large
          Products
    - else
      %li
        = link_to products_path do
          %span.glyphicon.glyphicon-th-large
          Products


    - if (params[:controller] == 'listings')
      %li.active
        = link_to listings_path do
          %span.glyphicon.glyphicon-th
          Listings
    - else
      %li
        = link_to listings_path do
          %span.glyphicon.glyphicon-th
          Listings


    - if (params[:controller] == 'customers')
      %li.active
        = link_to customers_path do
          %span.glyphicon.glyphicon-user
          Customers
    - else
      %li
        = link_to customers_path do
          %span.glyphicon.glyphicon-user
          Customers


    - if (params[:controller] == 'expenses')
      %li.active
        = link_to expenses_path do
          %span.glyphicon.glyphicon-usd
          Expenses
    - else
      %li
        = link_to expenses_path do
          %span.glyphicon.glyphicon-usd
          Expenses


    - if (params[:controller] == 'giveaways')
      %li.active
        = link_to giveaways_path do
          %span.glyphicon.glyphicon-gift
          Giveaways
    - else
      %li
        = link_to giveaways_path do
          %span.glyphicon.glyphicon-gift
          Giveaways