.stats
  .stat-container
    .stat
      .stat-label Items Sold
      .stat-number
        = get_items_sold_count
  .stat-container
    .stat
      .stat-label Total Rev
      .stat-number
        = "$" + get_revenue.to_s
  .stat-container
    .stat
      .stat-label Average Rev Per Item
      .stat-number
        = "$" + get_average_revenue.to_s + "/item"

%table#table-products.stripe.order-column
  %thead
    %tr
      %th Product
      %th Items Sold

      %th Revenue
      %th Materials Bought
      %th Cost Of Sold

      %th Profit
      %th Margin

      %th Avg Rev Per Item
      %th Avg Cost Of Sold
      %th Avg Margin Per Item

  %tbody
    - get_product_types.each do |product_type|
      %tr
        %td.border-right=product_type.product_type
        %td.border-right=product_type.get_order_items_count

        %td
          %strong= "$" + product_type.get_revenue.to_s
        %td= "($" + product_type.get_expenses.to_s + ")"
        %td.border-right= "$" + product_type.get_cost_of_sold.to_s
        
        -if product_type.get_profit < 0
          %td.red
            = "-$" + product_type.get_profit.abs.to_s
        -else
          %td.green
            = "$" + product_type.get_profit.to_s
        -if product_type.get_margin < 0
          %td.border-right.red
            = "-$" + product_type.get_margin.abs.to_s
        -else
          %td.border-right.green
            = "$" + product_type.get_margin.to_s

        %td.green= "$" + product_type.get_average_revenue.to_s
        %td.red= "$" + product_type.get_average_cost_of_sold.to_s

        -if product_type.get_average_margin < 0
          %td.border-right.red
            = "-$" + product_type.get_average_margin.abs.to_s
        -else
          %td.border-right.green
            = "$" + product_type.get_average_margin.to_s


:javascript
  $("#table-products").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [1, 'desc'],
    orderClasses: true
  });