#page-customers.page-content-body
  .page-content-body-section
    %h1 Customers

    .stats
      .stat-container
        .stat
          .stat-label Total Customers
          .stat-number
            = @total_customers
            customers

  .page-content-body-section
    %table#table-customers.stripe.order-column
      %thead
        %tr
          %th Name
          %th Email
          %th First Purchase
          %th Last Purchase
          %th Orders
          %th Items
          %th Spend
      %tbody
        - @customers.each do |customer|
          %tr
            %td
              = customer.first_name
              = customer.last_name
            %td.border-right= customer.email
            %td= customer.get_first_purchase_date
            %td.border-right= customer.get_last_purchase_date
            %td= customer.get_total_order_count
            %td= customer.get_total_order_items_count
            %td= "$" + customer.get_total_spend.to_s



:javascript
  $("#table-customers").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [3, 'desc'],
    orderClasses: true
  });