#page-orders.page-content-body
  .page-content-body-section
    %h1 Orders
    .stats
      .stat-container
        .stat
          .stat-label Total Customers
          .stat-number
            = @total_customers
            customers

      .stat-container
        .stat
          .stat-label Total Orders
          .stat-number
            = @orders.count
            orders

      .stat-container
        .stat
          .stat-label Total Order Items
          .stat-number
            = @total_order_items_count
            items

      .stat-container
        .stat
          .stat-label Orders Left to Ship
          .stat-number.red
            = @orders_left_to_ship.count
            to ship

      .stat-container
        .stat
          .stat-label Total Revenue
          .stat-number
            = "$" + @total_revenue.to_s
            = @total_revenue_adjusted

      .stat-container
        .stat
          .stat-label Average Rev Per Order
          .stat-number
            = "$" + @average_revenue_per_order.to_s + "/order"

      .stat-container
        .stat
          .stat-label Average Rev Per Order Item
          .stat-number
            = "$" + @average_revenue_per_order_item.to_s + "/item"

      .stat-container
        .stat
          .stat-label Average Items Per Order
          .stat-number= @average_items_per_order

  .page-content-body-section
    %h1 Orders To Ship
    %table#table-orders-toship.stripe.order-column
      %thead
        %tr
          %th Order
          %th Sold
          %th Name
          %th Items
          %th Value
          %th Coupon
          %th Shipping
          %th Tax
          %th Refund
          %th Total
          %th Fee
          %th Net
      %tbody
        - @orders_left_to_ship.each do |order|
          %tr
            %td.border-right= order.order_number
            %td.border-right= order.sale_date
            %td.border-right= order.full_name
            %td.border-right= order.number_of_items
            %td= "$" + order.order_value.to_s
            %td
              = order.coupon_code
              %span.secondary= order.coupon_details
            %td= "$" + order.shipping.to_s
            %td= "$" + order.sales_tax.to_s
            %td.border-right= order.refund? ? "$" + order.refund.to_s : ""
            %td
              = order.adjusted_order_total? ? "$" + order.adjusted_order_total.to_s : "$" + order.order_total.to_s
            %td
              = order.adjusted_card_processing_fees? ? "$" + order.adjusted_card_processing_fees.to_s : "$" + order.card_processing_fees.to_s
            %td
              = order.adjusted_net_order_amount? ? "$" + order.adjusted_net_order_amount.to_s : "$" + order.order_net.to_s



  .page-content-body-section
    %h1 Completed Orders
    %table#table-orders-completed.stripe.order-column
      %thead
        %tr
          %th Order
          %th Sold
          %th Shipped
          %th Name
          %th Items
          %th Value
          %th Coupon
          %th Shipping
          %th Tax
          %th Refund
          %th Total
          %th Fee
          %th Net
      %tbody
        - @completed_orders.each do |order|
          %tr
            %td.border-right= order.order_number
            %td= order.sale_date
            %td.border-right= order.date_shipped
            %td.border-right= order.full_name
            %td.border-right= order.number_of_items
            %td= "$" + order.order_value.to_s
            %td
              = order.coupon_code
              %span.secondary= order.coupon_details
            %td= "$" + order.shipping.to_s
            %td= "$" + order.sales_tax.to_s
            %td.border-right= order.refund? ? "$" + order.refund.to_s : ""
            %td
              = order.refund? ? "$" + order.adjusted_order_total.to_s : "$" + order.order_total.to_s
            %td
              = order.adjusted_card_processing_fees? ? "$" + order.adjusted_card_processing_fees.to_s : "$" + order.card_processing_fees.to_s
            %td
              = order.refund? ? "$" + order.adjusted_net_order_amount.to_s : "$" + order.order_net.to_s



  .page-content-body-section
    %h1 Import Orders from Etsy
    = form_tag import_orders_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import from Etsy"


  .page-content-body-section
    %h1 Import Orders from Square
    = form_tag import_square_orders_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import from Square"


:javascript
  $("#table-orders-toship").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [1, 'desc'],
    orderClasses: true
  });
  $("#table-orders-completed").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [1, 'desc'],
    orderClasses: true
  });
