#page-products.page-content-body
  .page-content-body-section
    %h1 Orders
    .stats
      .stat-container
        .stat
          .stat-label Total Buyers
          .stat-number
            = @total_buyers
            buyers

      .stat-container
        .stat
          .stat-label Total Orders
          .stat-number
            = @orders.count
            orders

      .stat-container
        .stat
          .stat-label Total Order Items
          .stat-number
            = @total_order_items
            items

      .stat-container
        .stat
          .stat-label Orders Left to Ship
          .stat-number.red
            = @orders_left_to_ship.count
            to ship

      .stat-container
        .stat
          .stat-label Total Revenue
          .stat-number
            = "$" + @total_revenue.to_s

      .stat-container
        .stat
          .stat-label Average Revenue Per Order
          .stat-number
            = "$" + @average_revenue_per_order.to_s + "/order"

      .stat-container
        .stat
          .stat-label Average Revenue Per Order Item
          .stat-number
            = "$" + @average_revenue_per_order_item.to_s + "/item"

      .stat-container
        .stat
          .stat-label Average Items Per Order
          .stat-number= @average_items_per_order

  .page-content-body-section
    %h1 Items To Ship

  .page-content-body-section
    %h1 Orders To Ship



  .page-content-body-section
    %h1 All Orders
    %table#table-orders
      %thead
        %tr
          %th Sale Date
          %th Username
      %tbody
        - @orders.each do |order|
          %tr
            %td= order.sale_date
            %td= order.username


  .page-content-body-section
    %h1 Import Orders
    = form_tag import_orders_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import"


:javascript
  $("#table-orders").DataTable();