#page-orders.page-content-body
  .page-content-body-section
    %h1
      = order_type
      Orders
    .stats
      = link_to customers_url do
        .stat-container
          .stat
            .stat-label
              = order_type
              Customers
            .stat-number
              = get_customers_count(order_type)
              customers

      = link_to orders_url(order_type) do
        .stat-container
          .stat
            .stat-label Total Orders
            .stat-number
              = get_orders_count(order_type)
              orders

      = link_to order_items_url(order_type) do
        .stat-container
          .stat
            .stat-label Total Order Items
            .stat-number
              = get_items_sold_count(order_type)
              items

      = link_to order_items_url(order_type) do
        .stat-container
          .stat
            .stat-label Orders Left to Ship
            .stat-number.red
              = get_unshipped_orders_count(order_type)
              orders

      = link_to order_items_url(order_type) do
        .stat-container
          .stat
            .stat-label Items Left to Ship
            .stat-number.red
              = get_unshipped_items_count(order_type)
              items
    .stats
      .stat-container
        .stat
          .stat-label Total Revenue
          .stat-number.green
            = "$" + number_with_delimiter(get_revenue(order_type)).to_s

      .stat-container
        .stat
          .stat-label Average Rev / Customer
          .stat-number.green
            = "$" + number_with_delimiter(get_average_revenue_per_customer(order_type)).to_s + "/customer"

      .stat-container
        .stat
          .stat-label Average Rev / Order
          .stat-number.green
            = "$" + number_with_delimiter(get_average_revenue_per_order(order_type)).to_s + "/order"

      .stat-container
        .stat
          .stat-label Average Rev / Item
          .stat-number.green
            = "$" + number_with_delimiter(get_average_revenue_per_order_item(order_type)).to_s + "/item"

      .stat-container
        .stat
          .stat-label Average Items / Order
          .stat-number= get_average_items_per_order(order_type)

  .page-content-body-section
    %h1 
      = order_type
      Orders To Ship
    %table.stripe.order-column{id: "table-orders-toship"}
      %thead
        %tr
          %th Order
          %th Sold
          %th Name
          %th Items
          %th Value
          %th Coupon
          %th Shipping
          %th Tax
          %th Refund
          %th Total
          %th Fee
          %th Net
      %tbody
        - get_unshipped_orders(order_type).each do |order|
          %tr
            %td.border-right
              %span.order-number
                = link_to order_url(order), target: "_blank" do
                  - if order.order_number != ""
                    = order.order_number
                  - else
                    = order.id
            %td.border-right= order.sale_date
            %td.border-right
              =link_to customer_url(order.customer) do
                = order.customer.first_name
                = order.customer.last_name
              = link_to edit_admin_customer_url(order.customer), target: "_blank" do
                %span.glyphicon.glyphicon-pencil.edit-icon
            %td.border-right= order.number_of_items
            %td= "$" + order.order_value.to_s
            %td
              = order.coupon_code
              %span.secondary= order.coupon_details
            %td= "$" + order.shipping.to_s
            %td= "$" + order.sales_tax.to_s
            %td.border-right= order.refund? ? "$" + order.refund.to_s : ""
            %td
              = order.adjusted_order_total? ? "$" + order.adjusted_order_total.to_s : "$" + order.order_total.to_s
            %td
              = order.adjusted_card_processing_fees? ? "$" + order.adjusted_card_processing_fees.to_s : "$" + order.card_processing_fees.to_s
            %td
              = order.adjusted_net_order_amount? ? "$" + order.adjusted_net_order_amount.to_s : "$" + order.order_net.to_s

  .page-content-body-section
    %h1
      = order_type
      Completed Orders
    %table.stripe.order-column{id: "table-orders-completed"}
      %thead
        %tr
          %th Order
          %th Sold
          %th Shipped
          %th Name
          %th Items
          %th Value
          %th Coupon
          %th Shipping
          %th Tax
          %th Refund
          %th Total
          %th Fee
          %th Net
      %tbody
        - get_shipped_orders(order_type).each do |order|
          %tr
            %td.border-right
              %span.order-number
                = link_to order_url(order) do
                  - if order.order_number != ""
                    = order.order_number
                  - else
                    = order.id
            %td= order.sale_date
            %td.border-right= order.date_shipped
            %td.border-right
              =link_to customer_url(order.customer) do
                = order.customer.first_name
                = order.customer.last_name
              = link_to edit_admin_customer_url(order.customer), target: "_blank" do
                %span.glyphicon.glyphicon-pencil.edit-icon
            %td.border-right= order.number_of_items
            %td= "$" + order.order_value.to_s
            %td
              = order.coupon_code
              %span.secondary= order.coupon_details
            %td= "$" + order.shipping.to_s
            %td= "$" + order.sales_tax.to_s
            %td.border-right= order.refund? ? "$" + order.refund.to_s : ""
            %td
              = order.refund? ? "$" + order.adjusted_order_total.to_s : "$" + order.order_total.to_s
            %td
              = order.adjusted_card_processing_fees? ? "$" + order.adjusted_card_processing_fees.to_s : "$" + order.card_processing_fees.to_s
            %td
              = order.refund? ? "$" + order.adjusted_net_order_amount.to_s : "$" + order.order_net.to_s

  .page-content-body-section#import_orders
    %h1 Import Orders from Etsy
    = form_tag import_orders_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import from Etsy"

  .page-content-body-section
    %h1 Import Orders from Square
    = form_tag import_square_orders_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import from Square"

:javascript
  $("#table-orders-toship").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [1, 'desc'],
    orderClasses: true
  });
  $("#table-orders-completed").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [1, 'desc'],
    orderClasses: true
  });
