#page-orders.page-content-body
  .page-content-body-section
    %h1 New Order


    =form_for(@order) do |f|
      .form-row
        = f.label :customer, class: 'form-label'
        = f.collection_select(:customer_id, @customers, :id, :display_name, {:prompt => true}, {:required => true})
        %span.form-notes 
          =link_to "Create new customer", new_admin_customer_path, target: "_blank"
      
      %br

      .form-row
        = f.label :sale_date, class: 'form-label'
        = f.date_field(:sale_date)
      .form-row
        = f.label :date_shipped, class: 'form-label'
        = f.date_field(:date_shipped)
      .form-row
        = f.label :date_paid, class: 'form-label'
        = f.date_field(:date_paid)

      %br

      .form-row
        = f.label :number_of_items, class: 'form-label'
        = f.number_field(:number_of_items)

      %br

      .form-row
        = f.label :order_value, class: 'form-label'
        = f.number_field :order_value, :step => 'any', :required => true
      .form-row
        = f.label :shipping, class: 'form-label'
        = f.number_field :shipping, :step => 'any'

      .form-row
        = f.label :sales_tax, class: 'form-label'
        = f.number_field :sales_tax, :step => 'any'

      .form-row
        = f.label :order_total, class: 'form-label'
        = f.number_field :order_total, :step => 'any', :required => true
        %span.form-notes = order value + shipping + sales tax

      %br

      .form-row
        = f.label :order_type, class: 'form-label'
        = f.select :order_type, @order_types
      .form-row
        = f.label :payment_type, class: 'form-label'
        = f.select :payment_type, @payment_types
      .form-row
        = f.label :payment_method, class: 'form-label'
        = f.select :payment_method, @payment_methods
      .form-row
        = f.label :order_source, class: 'form-label'
        = f.select :order_source, @order_sources
      


      .form-row
        = f.submit "Create Order"

