<% if previous_variation != current_variation %>
  <% if previous_variation != nil %></tr><% end %>
  <tr>
    <td class="border-right"><%= tshirt.description %></td>
    <td><%= variation.gender %></td>
    <td><%= variation.style %></td>
    <td class="border-right"><span class="color-swatch" style="background-color: <%= variation.color %>"></span></td>
    <td>
      <% if variation.get_unshipped_order_items_count != 0 %>
        <%= variation.get_unshipped_order_items_count %>
      <% end %>
    </td>
<% else %>
  <td>
    <% if variation.get_unshipped_order_items_count != 0 %>
      <%= variation.get_unshipped_order_items_count %>
    <% end %>
  </td>
<% end %>