#page-order_items.page-content-body
  .page-content-body-section
    %h1 Order Items To Ship

    .stats
      .stat-container
        .stat
          .stat-label Total Items To Ship
          .stat-number
            =get_all_items_to_ship_count
            items

    .stats
      - get_product_types.each do |product_type|
        -if get_items_to_ship_by_type_count(product_type) > 0
          .stat-container
            .stat
              .stat-label 
                =product_type
                To Ship
              .stat-number
                = get_items_to_ship_by_type_count(product_type)

  - get_product_types.each do |product_type|
    -if get_items_to_ship_by_type_count(product_type) > 0
      -if product_type != "T-shirt"
        .page-content-body-section
          %h1 
            #{pluralize(get_items_to_ship_by_type_count(product_type), product_type)}
            To Package
          %table.stripe.order-column{class: 'table-' + product_type_slug(product_type)}
            %thead
              %tr
                %th Product
                %th Quantity To Pack
            %tbody
              - get_products_by_type(product_type).each do |product|
                - if product.get_unshipped_order_items_count > 0
                  %tr
                    %td= product.description
                    %td= product.get_unshipped_order_items_count
      -else
        .page-content-body-section
          %h1 
            #{pluralize(get_items_to_ship_by_type_count(product_type), product_type)}
            To Package
          - get_products_by_type(product_type).each do |tshirt|
            %table.stripe.order-column{class: 'table-' + product_type_slug(product_type)}
              %thead
                %tr
                  %th T-shirt
                  %th Gender
                  %th Style
                  %th Color
                  %th S
                  %th M
                  %th L
                  %th XL
              %tbody
                - previous_variation = nil
                - tshirt.get_variations.each do |variation|
                  - current_variation = variation.gender + "_" + variation.style + "_" + variation.color
                  = render :partial => 'variation_unshipped', :locals => {:tshirt => tshirt, :variation => variation, :previous_variation => previous_variation, :current_variation => current_variation}
                  - previous_variation = current_variation


  %hr

  .page-content-body-section
    %h1 Import Order Items from Etsy
    = form_tag import_order_items_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import from Etsy"


  .page-content-body-section
    %h1 Import Order Items from Square
    = form_tag import_square_order_items_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import from Square"


- get_product_types.each do |product_type|
  -if get_items_to_ship_by_type_count(product_type) > 0
    :javascript
      $(".table-#{product_type_slug(product_type)}").DataTable({
        dom: 'iCfrtS',
        pageLength: -1,
        order: [0, 'desc'],
        orderClasses: true
      });