#page-order_items.page-content-body
  .page-content-body-section
    %h1 Order Items

    .stats
      .stat-container
        .stat
          .stat-label Total Order Items To Ship
          .stat-number
            =@total_items_to_ship
            items

    .stats
      - if @total_cards_to_ship > 0
        .stat-container
          .stat
            .stat-label Cards To Ship
            .stat-number
              =@total_cards_to_ship
              cards

      - if @total_prints_to_ship > 0
        .stat-container
          .stat
            .stat-label Prints To Ship
            .stat-number
              =@total_prints_to_ship
              prints


      - if @total_tshirts_to_ship > 0
        .stat-container
          .stat
            .stat-label T-shirts To Ship
            .stat-number
              =@total_tshirts_to_ship
              t-shirts


      - if @total_stickers_to_ship > 0
        .stat-container
          .stat
            .stat-label Stickers To Ship
            .stat-number
              =@total_stickers_to_ship
              stickers

      - if @total_stickers_to_ship > 0
        .stat-container
          .stat
            .stat-label Laptop Stickers To Ship
            .stat-number
              =@total_laptopstickers_to_ship
              stickers


  .page-content-body-section
    %h1 Cards To Package
    %table#table-cards-topackage.stripe.order-column
      %thead
        %tr
          %th Occasion
          %th Card
          %th Quantity To Pack
      %tbody
        - @cards.each do |card|
          - if card.get_unshipped_order_items_count > 0
            %tr
              %td= card.occasion
              %td= card.description
              %td= card.get_unshipped_order_items_count


  .page-content-body-section
    %h1 Prints To Package
    %table#table-prints-topackage.stripe.order-column
      %thead
        %tr
          %th Print
          %th Quantity To Pack
      %tbody
        - @prints.each do |print|
          - if print.get_unshipped_order_items_count > 0
            %tr
              %td= print.description
              %td= print.get_unshipped_order_items_count


  .page-content-body-section
    %h1 T-shirts Sold
    - @tshirts.each do |tshirt|
      %table#table-tshirts-sold.stripe.order-column
        %thead
          %tr
            %th T-shirt
            %th Gender
            %th Style
            %th Color
            %th S
            %th M
            %th L
            %th XL
        %tbody
          - previous_variation = nil
          - tshirt.get_variations.each do |variation|
            - current_variation = variation.gender + "_" + variation.style + "_" + variation.color
            = render :partial => 'variation_sold', :locals => {:tshirt => tshirt, :variation => variation, :previous_variation => previous_variation, :current_variation => current_variation}
            - previous_variation = current_variation

  .page-content-body-section
    %h1 T-shirts To Package
    - @tshirts.each do |tshirt|
      %table#table-tshirts-topackage.stripe.order-column
        %thead
          %tr
            %th T-shirt
            %th Gender
            %th Style
            %th Color
            %th S
            %th M
            %th L
            %th XL
        %tbody
          - previous_variation = nil
          - tshirt.get_variations.each do |variation|
            - current_variation = variation.gender + "_" + variation.style + "_" + variation.color
            = render :partial => 'variation_unshipped', :locals => {:tshirt => tshirt, :variation => variation, :previous_variation => previous_variation, :current_variation => current_variation}
            - previous_variation = current_variation

  .page-content-body-section
    %h1 Stickers To Package

    %table#table-stickers-topackage.stripe.order-column
      %thead
        %tr
          %th Stickers
          %th Quantity To Pack
      %tbody
        - @stickers.each do |sticker|
          - if sticker.get_unshipped_order_items_count > 0
            %tr
              %td= sticker.description
              %td= sticker.get_unshipped_order_items_count

  .page-content-body-section
    %h1 Laptop Stickers To Package
    %table#table-laptopstickers-topackage.stripe.order-column
      %thead
        %tr
          %th Laptop Sticker
          %th Quantity To Pack
      %tbody
        - @laptopstickers.each do |laptopsticker|
          - if laptopsticker.get_unshipped_order_items_count > 0
            %tr
              %td= laptopsticker.description
              %td= laptopsticker.get_unshipped_order_items_count

  .page-content-body-section
    %h1 Import Order Items
    = form_tag import_order_items_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import"



:javascript
  $("#table-cards-topackage").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [0, 'desc'],
    orderClasses: true
  });
  $("#table-prints-topackage").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [0, 'desc'],
    orderClasses: true
  });
  $("#table-tshirts-sold").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [0, 'desc'],
    orderClasses: true
  });
  $("#table-tshirts-topackage").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [0, 'desc'],
    orderClasses: true
  });
  $("#table-stickers-topackage").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [0, 'desc'],
    orderClasses: true
  });
  $("#table-laptopstickers-topackage").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [0, 'desc'],
    orderClasses: true
  });
