<% if previous_variation != current_variation %>
  <% if previous_variation != nil %></tr><% end %>
  <tr>
  	<td><%= tshirt.description %></td>
    <td class="border-right"><%= variation.gender %> <%= variation.style %></td>
    <td>$<%= variation.get_price %></td>
    <td class="border-right">$<%= variation.get_cost %></td>
    <td><%= get_sales_by_style_and_gender(variation.style, variation.gender) %></td>
    <td>$<%= get_revenue_by_style_and_gender(variation.style, variation.gender) %></td>
<% else %>
<% end %>