#page-order_items.page-content-body
  .page-content-body-section
    %h1 Order Items To Ship

    .stats
      .stat-container
        .stat
          .stat-label Total Items To Ship
          .stat-number.red
            =get_unshipped_items_count
            items

    .stats
      - get_product_types.each do |product_type|
        -if product_type.get_unshipped_items_count > 0
          .stat-container
            .stat
              .stat-label 
                =product_type.product_type
                To Ship
              .stat-number
                = product_type.get_unshipped_items_count

  - get_product_types.each do |product_type|
    -if product_type.get_unshipped_items_count > 0
      -if product_type != "T-shirt"
        .page-content-body-section
          %h1 
            #{pluralize(product_type.get_unshipped_items_count, product_type.product_type)}
            To Package
          %table.stripe.order-column{class: 'table-product-type-' + product_type.id.to_s}
            %thead
              %tr
                %th Product
                %th Retail To Pack
                %th Wholesale To Pack
                %th Total To Pack
            %tbody
              - product_type.get_products.each do |product|
                - if product.get_unshipped_order_items_count > 0
                  %tr
                    %td
                      = product.description
                      = link_to edit_admin_product_url(product), target: "_blank" do
                        %span.glyphicon.glyphicon-pencil.edit-icon
                    %td= product.get_unshipped_order_items_count("Retail") == 0 ? "-" : product.get_unshipped_order_items_count("Retail")
                    %td= product.get_unshipped_order_items_count("Wholesale") == 0 ? "-" : product.get_unshipped_order_items_count("Wholesale")
                    %td= product.get_unshipped_order_items_count

      -else
        .page-content-body-section
          %h1 
            #{pluralize(product_type.get_unshipped_items_count, product_type.product_type)}
            To Package
          - product_type.get_products.each do |tshirt|
            %table.stripe.order-column{class: 'table-product-type-' + product_type.id.to_s}
              %thead
                %tr
                  %th T-shirt
                  %th Gender
                  %th Style
                  %th Color
                  %th S
                  %th M
                  %th L
                  %th XL
              %tbody
                - previous_variation = nil
                - tshirt.get_variations.each do |variation|
                  - current_variation = variation.gender + "_" + variation.style + "_" + variation.color
                  = render :partial => 'variation_unshipped', :locals => {:tshirt => tshirt, :variation => variation, :previous_variation => previous_variation, :current_variation => current_variation}
                  - previous_variation = current_variation




  %hr

  .page-content-body-section#import_order_items
    %h1 Import Order Items from Etsy
    = form_tag import_order_items_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import from Etsy"


  .page-content-body-section
    %h1 Import Order Items from Square
    = form_tag import_square_order_items_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import from Square"


- get_product_types.each do |product_type|
  -if product_type.get_unshipped_items_count > 0
    :javascript
      $(".table-product-type-#{product_type.id.to_s}").DataTable({
        dom: 'iCfrtS',
        pageLength: -1,
        order: [0, 'desc'],
        orderClasses: true
      });