#page-products.page-content-body
  .page-content-body-section.page-content-body-section-products
    %h1 Products

    = render partial: 'partials/product_stats'

  - get_product_types.each do |product_type|
    .page-content-body-section
      %h1=product_type.product_type

      .stats
        -if product_type.get_order_items_count > 0
          .stat-container
            .stat
              .stat-label 
                =product_type.product_type
                Sold
              .stat-number
                = product_type.get_order_items_count
          .stat-container
            .stat
              .stat-label 
                =product_type.product_type
                Rev
              .stat-number.green
                = "$" + number_with_delimiter(product_type.get_revenue).to_s 
          .stat-container
            .stat
              .stat-label 
                Average Per
                =product_type.product_type
              .stat-number.green
                = "$" + product_type.get_average_revenue_per_item.to_s + "/" + product_type.product_type


      -if product_type == "T-shirt"
        %table.stripe.order-column{class: 'table-product-type-' + product_type.id.to_s}
          %thead
            %tr
              %th T-shirt
              %th Variation
              %th Sold
              %th Revenue
          %tbody
            - product_type.get_products.each do |product|
              - previous_variation = nil
              - product.get_variations.each do |variation|
                - current_variation = variation.gender + "_" + variation.style
                = render :partial => 'tshirt_variation', :locals => {:tshirt => product, :variation => variation, :previous_variation => previous_variation, :current_variation => current_variation}
                - previous_variation = current_variation
      -else
        %table.stripe.order-column{class: 'table-product-type-' + product_type.id.to_s}
          %thead
            %tr
              %th Type
              %th Item
              %th Sold
              %th Revenue
              %th Average
          %tbody
            - product_type.get_products.each do |product|
              %tr
                %td.border-right
                  = product.product_type.product_type
                  = link_to edit_admin_product_type_url(product_type), target: "_blank" do
                    %span.glyphicon.glyphicon-pencil.edit-icon
                %td.border-right
                  = product.description
                  = link_to edit_admin_product_url(product), target: "_blank" do
                    %span.glyphicon.glyphicon-pencil.edit-icon
                %td= product.get_order_items_count
                %td= "$" + product.get_total_sales.to_s
                %td= "$" + product.get_average_sales.to_s


- get_product_types.each do |product_type|
  :javascript
    $(".table-product-type-#{product_type.id.to_s}").DataTable({
      dom: 'iCfrtS',
      pageLength: -1,
      order: [2, 'desc'],
      orderClasses: true
    });