#sidebar
  %ul.nav.nav-pills.nav-stacked



    - if (current_page?(controller: 'orders', action: 'index'))
      %li.active
        = link_to orders_path do
          %span.glyphicon.glyphicon-shopping-cart
          Orders
    - else
      %li
        = link_to orders_path do
          %span.glyphicon.glyphicon-shopping-cart
          Orders


    - if (current_page?(controller: 'order_items', action: 'index'))
      %li.active
        = link_to order_items_path do
          %span.glyphicon.glyphicon-th-list
          Order Items
    - else
      %li
        = link_to order_items_path do
          %span.glyphicon.glyphicon-th-list
          Order Items

    - if (current_page?(controller: 'products', action: 'index'))
      %li.active
        = link_to products_path do
          %span.glyphicon.glyphicon-th-large
          Products
    - else
      %li
        = link_to products_path do
          %span.glyphicon.glyphicon-th-large
          Products

    - if (current_page?(controller: 'listings', action: 'index'))
      %li.active
        = link_to listings_path do
          %span.glyphicon.glyphicon-th
          Listings
    - else
      %li
        = link_to listings_path do
          %span.glyphicon.glyphicon-th
          Listings

    - if (current_page?(controller: 'customers', action: 'index'))
      %li.active
        = link_to customers_path do
          %span.glyphicon.glyphicon-user
          Customers
    - else
      %li
        = link_to customers_path do
          %span.glyphicon.glyphicon-user
          Customers

    - if (current_page?(controller: 'expenses', action: 'index'))
      %li.active
        = link_to expenses_path do
          %span.glyphicon.glyphicon-usd
          Expenses
    - else
      %li
        = link_to expenses_path do
          %span.glyphicon.glyphicon-usd
          Expenses

    - if (current_page?(controller: 'giveaways', action: 'index'))
      %li.active
        = link_to giveaways_path do
          %span.glyphicon.glyphicon-gift
          Giveaways
    - else
      %li
        = link_to giveaways_path do
          %span.glyphicon.glyphicon-gift
          Giveaways

    %br

    - if (current_page?(controller: 'orders', action: 'new'))
      %li.active
        = link_to new_order_path do
          %span.glyphicon.glyphicon-plus
          New Order
    - else
      %li
        = link_to new_order_path do
          %span.glyphicon.glyphicon-plus
          New Order

    - if (current_page?(controller: 'order_items', action: 'new'))
      %li.active
        = link_to new_order_item_path do
          %span.glyphicon.glyphicon-plus
          New Order Item
    - else
      %li
        = link_to new_order_item_path do
          %span.glyphicon.glyphicon-plus
          New Order Item

