#sidebar
  %ul.nav.nav-pills.nav-stacked

    %li{class: current_page?(controller: 'orders', action: 'index') ? 'active' : ''}
      = link_to orders_path do
        %span.glyphicon.glyphicon-shopping-cart
        Retail
        -if get_incomplete_orders_count("Retail") > 0
          %span.sidebar-menu-item-count=get_incomplete_orders_count("Retail")

    %li{class: current_page?(controller: 'orders', action: 'wholesale') ? 'active' : ''}
      = link_to wholesale_path do
        %span.glyphicon.glyphicon-shopping-cart
        Wholesale
        -if get_incomplete_orders_count("Wholesale") > 0
          %span.sidebar-menu-item-count=get_incomplete_orders_count("Wholesale")

    %li{class: current_page?(controller: 'order_items', action: 'index') ? 'active' : ''}
      = link_to order_items_path do
        %span.glyphicon.glyphicon-th-list
        Order Items

    %li{class: current_page?(controller: 'products', action: 'index') ? 'active' : ''}
      = link_to products_path do
        %span.glyphicon.glyphicon-th-large
        Products

    %li{class: current_page?(controller: 'listings', action: 'index') ? 'active' : ''}
      = link_to listings_path do
        %span.glyphicon.glyphicon-th
        Listings
  
    %li{class: current_page?(controller: 'customers', action: 'index') ? 'active' : ''}
      = link_to customers_path do
        %span.glyphicon.glyphicon-user
        Customers

    %li{class: current_page?(controller: 'expenses', action: 'index') ? 'active' : ''}
      = link_to expenses_path do
        %span.glyphicon.glyphicon-usd
        Expenses

    %li{class: current_page?(controller: 'giveaways', action: 'index') ? 'active' : ''}
      = link_to giveaways_path do
        %span.glyphicon.glyphicon-gift
        Giveaways

    %br

    %li
      = link_to orders_path(anchor: "import_orders") do
        %span.glyphicon.glyphicon-plus
        Upload Orders

    %br

    %li{class: current_page?(controller: 'orders', action: 'new') ? 'active' : ''}
      = link_to new_order_path do
        %span.glyphicon.glyphicon-plus
        New Order

    %li{class: current_page?(controller: 'order_items', action: 'new') ? 'active' : ''}
      = link_to new_order_item_path do
        %span.glyphicon.glyphicon-plus
        New Order Item

    %br

    %li{class: current_page?(controller: 'expenses', action: 'new') && params[:expense_type] == 'Shipping' ? 'active' : ''}
      = link_to new_expense_path + '?name=Shipping&expense_type=Shipping&vendor=USPS' do
        %span.glyphicon.glyphicon-plus
        New Shipping
    %li{class: current_page?(controller: 'expenses', action: 'new') && params[:expense_type] == 'Materials' && params[:vendor] == 'Amazon' ? 'active' : ''}
      = link_to new_expense_path + '?name=&expense_type=Materials&vendor=Amazon' do
        %span.glyphicon.glyphicon-plus
        New Materials
    %li{class: current_page?(controller: 'expenses', action: 'new') && params[:vendor] == 'Redbubble' ? 'active' : ''}
      = link_to new_expense_path + '?name=&expense_type=Materials&vendor=Redbubble' do
        %span.glyphicon.glyphicon-plus
        New Redbubble

    %li{class: current_page?(controller: 'expenses', action: 'new') && !params[:expense_type] ? 'active' : ''}
      = link_to new_expense_path do
        %span.glyphicon.glyphicon-plus
        New Expense
